:root{
    --blue:#47B5FF;
    --navy:#1363DF;
}

*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}


html{
    font-size: 70%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header .pict{
    background-image: url(./4.png);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .pict .author{
    position: absolute;
    top: 0;left: 0;right: 0;
    padding: 1.5rem;
}

header .pict .author .image{
    float: right;
    width: 3rem;
}

header .pict .author a{
    font-size: 1.3rem;
    color: #fff;
    float: right;
    line-height: 3.1rem;
    margin-right: 1.5rem;
}

header .pict .author a:hover{
    color: var(--navy);
    scale: 1.2;
}

.pict .container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

header .pict .isipict{
    align-items: center;
    text-align: center;
}

header .pict h1{
    font-size: 7.5rem;
    font-weight: bolder;
    color: #fff;
    margin-top: 0;
}

header .pict h1:hover{
    scale: 1.1;
    cursor:default;
    color: var(--navy);
}

header .pict .isipict .p{
    font-size: 1.7rem;
    font-weight: bold;
    color: #fff;
}

header .pict .isipict .p span{
    color: var(--navy);
}

header .pict .isipict .tx{
    margin-bottom: .1rem;
    font-size: 2rem;
    color: #fff;
}

header .pict .isipict .p:hover{
    scale: 1.1;
    cursor: default;
}

.navigator{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0; right: 0; left: 0;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    z-index: 9999;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.name{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #444;
}

.name span{
    color:var(--navy);
}

.name:hover{
    scale:1.2;
    color: var(--navy);
}

.nav{
    font-size: 1.3rem;
    font-weight: bold;
}

.nav a{
    color: #333;
    padding: .7rem 1rem;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .5);
    color: var(--navy);
    padding: .7rem 1rem;
    border-bottom: .3rem solid var(--navy);
}

.nav .drop{
    position: relative;
    display: inline-block;
    transition: .2s;
}

.nav .drop .dropcont{
    position: absolute;
    display: none;
    padding-top: .5rem;
}

.nav .drop:hover .dropcont{
    display: grid;
    grid-template-columns: 12rem;
    grid-template-rows: 3rem 3rem;
    align-items: center;
}

/* Larry */
main .kawal{
    padding: 5rem 8%;
    background-color: #eee;
    text-align: center;
}

main .kawal h1{
    font-size: 3rem;
    color: #333;
}

main .kawal span{
    font-size: 5rem;
    color: #333;
    margin-bottom: 2rem;
}

main .kawal span:hover{
    scale: 1.3;
}

.container .box{
    flex: 1 1 30rem;
    position: relative;
    text-align: center;
    padding: 2rem;
}

.container .box:hover .lain{
    bottom: 0;
}

.container .box span{
    font-size: 2rem;
    color: var(--navy);
}

.container .box .lain{
    position: absolute;
    bottom: -7rem;left: 0;right: 0;
    display: flex;
    text-align: center;
}

.container .box .lain a{
    height: 6rem;
    line-height: 6rem;
    font-size: 2rem;
    width: 50%;
    background: #333;
    color: #fff;
}

.container .box .lain a:hover{
    background-color: var(--navy);
}

.container .box .lain .tengah{
    width: 100%;
}

/* about */
.about{
    padding: 3rem 0}

.about .atas{
    padding: 1rem 10% 5rem 10%;
    text-align:center;
    cursor: default;
}

.about .kontener{
    gap: 2.5rem;
    padding: 1rem 5rem 5rem 5rem;
    display: flex;
}

.about .kanan{
    width: 50%;
    padding: 4rem 5%;
    text-align:center;
    cursor: default;
    background-color: #eee;
    border-radius: 2rem;
}

.about .kiri{
    width: 50%;
    padding: 4rem 5%;
    text-align:center;
    cursor: default;
    background-color: #eee;
    border-radius: 2rem;
}


.about h1{
    font-size: 5rem;
    color: #333;
    font-weight: bolder;
    text-align: center;
    padding: 2rem 0;
}

.about .ah{
    size: 1.5rem;
    background-color: var(--navy);
    height: .4rem;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.about .uh{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .uh img{
    width: 10rem;
}

.about .web{
    font-size: 1.5rem;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align:justify;
    padding: 0 0 0 5%;
}

.about .h21{
    font-size: 3rem;
    color: #333;
    padding: .3rem 0 1.2rem 0;
}

.about .pp{
    padding: .3rem 4rem .8rem 4rem;
    color: #333;
    font-size: 1.1rem;
    font-weight: 700;
}

.about .kanan a{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    padding: .2rem 1rem;
    background-color: var(--navy);
    border-radius: 1rem;
}

.about .kanan a:hover{
    background-color: var(--blue);
}

.about span{
    color: var(--navy);
}

.about i{
    font-size: 4rem;
    color: var(--navy);
    padding: 1rem;
}

.about i:hover{
    scale: 1.4;
}

.gawah{
    size: 1.5rem;
    background-color: rgba(0, 0, 0, .2);
    height: .1rem;
    width: 90%;
    margin: 0 auto;
}

/* favo */
.favorite{
    padding: 1rem 0rem 5rem 0rem;
}

.favorite .tx1 i{
    font-size: 4rem;
    color: var(--navy);
    padding: 1rem 0;
}

.favorite .tx1 i:hover{
    scale: 1.4;
}

.favorite .tx1{
    padding: .5rem 20%;
    text-align:center;
    cursor: default;
}

.favorite .tx1 h1{
    font-size: 5rem;
    padding: 2rem 0;
    color: #333;
}

.favorite .tx1 p{
    font-size: 1.5rem;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align:center;
    padding: 1rem 0 3rem 0;
}

.favorite .tx1 p span{
    color: var(--navy);
}

.favorite .kotak{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 2rem 5rem 5rem 5rem;
}

.favorite .kotak .blok{
    flex: 1 1 30rem;
    box-shadow: 0 0rem 1.5rem rgba(0, 0, 0, .3);
    position: relative;
    border-radius: 2rem;
    background-color: #fff;
}

.favorite .kotak .blok:hover{
    scale: 1.1;
    box-shadow: 0rem 0rem 10rem #fff;
    z-index: 1;
}

.favorite .kotak .blok .image{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
    background-image: url(./musik.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.favorite .kotak .blok .hoby{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
    background-image: url(./hobi.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.favorite .kotak .blok .image a{
    font-size: 5rem;
    color: var(--navy);
    padding: 3rem;
}

.favorite .kotak .blok .image a:hover{
    scale: 1.5;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.favorite .kotak .blok .hoby a{
    font-size: 5rem;
    color: var(--navy);
    padding: 3rem;
}

.favorite .kotak .blok .hoby a:hover{
    scale: 1.5;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.favorite .kotak .blok .pilem{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
    background-image: url(./film.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 60vh;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}

.favorite .kotak .blok .pilem a{
    font-size: 5rem;
    color: var(--navy);
    padding: 3rem;
}

.favorite .kotak .blok .pilem a:hover{
    scale: 1.5;
    text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
}

.favorite .kotak .blok .tulis{
    font-size: 2rem;
    text-align: center;
    font-weight: bolder;
    background-color: var(--blue);
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 1.2rem;
}

.favorite .kotak .blok .tulis .tulisan{
    font-size: 1.3rem;
    font-weight: normal;
    padding: 1rem 4rem;
    text-align: justify;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.favorite .kotak .blok .tulis .tulisan a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.3rem;
}

.favorite .kotak .blok .tulis .tulisan a:hover{
    border-bottom: .2rem solid (--navy);
}

/* gallery */
.gallery{
    background-color: #eee;
    padding: 5rem 10%;
}

.gallery h1{
    font-size: 5rem;
    color: #333;
    text-align: center;
}

.gallery .tx2{
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    padding: 2rem 20%;
    font-weight: 700;
}

.gallery .box{
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem;
    margin-bottom: 3rem;
}

.gallery .icon{
    text-align: center;
}

.gallery i{
    font-size: 4rem;
    color: #222;
    padding: 2rem;
}

.gallery .tulis{
    font-size: 1.5rem;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.gallery .btn{
    font-size: 1.3rem;
    font-weight: bolder;
    margin-top: 2rem;
    text-align: center;
    margin: 3rem auto;

}

.gallery .btn a{
    color: #fff;
    background-color: var(--navy);
    padding: .8rem 5%;
    border-radius: 1.5rem;
}

.gallery .btn a:hover{
    background-color: var(--blue);
}

.gallery .copy{
    color: rebeccapurple;
}

/* lord rangga 2024 */
.login{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10rem 7rem;
    background-color: var(--navy);
}

.login .tx3 h1{
    font-size: 3rem;
    font-weight: bolder;
    color: #fff;
}

.login .tx3 p{
    font-size: 1.6rem;
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    color: #fff;
}

.login .linkk{
    display: flex;
    padding: 0 0 0 1%0;
}

.login .linkk a{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 700;
    background-color: #222;
    border-radius: 1.3rem;
    padding: .5rem 3rem;
    margin-left: 1.5rem;
}

.login .linkk a:hover{
    background-color: var(--blue);
}

.login .linkk a i{
    padding: 0 1rem 0 0;
}

/* footer */
.bawah{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5%;
}

.bawah .name{
    color: #fff;
}

.bawah .name span{
    color: var(--navy);
}

.bawah .name:hover {
    color: var(--navy);
}

.bawah ul a{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    display: block;
}

.bawah ul a:hover{
    color: var(--navy);
}

.bawah .ling a{
    font-size: 3rem;
    color: #fff;
    padding: 1rem;
}

.bawah .ling a:hover{
    color: var(--navy);
}

footer{
    background-color: #041C32;
}

footer hr{
    height: .1rem;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .3);
}

.garis{
    size: 1.5rem;
    background-color: rgba(255, 255, 255,.5);
    height: .1rem;
    width: 90%;
    margin: 0 auto;
}

footer .copyrek{
    padding: 2rem;
    text-align: center;
    color: #fff;
    cursor: default;
}

/* responsive */
@media screen and (max-width : 425px) {
/* header */
    header .pict h1{
        font-size:4.5rem;
    }
    header .pict .isipict .tx{
        font-size: 1.5rem;
    }

    header .pict .isipict .p{
        font-size: 1.1rem;
    }

    header .name{
        display: none;
    }
    header .navigator{
        justify-content: center;
    }
    header .nav a{
        font-size: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;
    }

/* navigator */
    .navigator{
        display: block;
        text-align: center;
        padding: 2.5rem 7%;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

/* main */
    main .kawal h1{
        font-size: 2.8rem;
    }

/* about */
    .about .uh{
        display: block;
    }

    .about .uh img{
        padding-bottom: 1.5rem;
    }

    .about .web{
        padding: 0 0;
        width: 90%;
        margin: 0 auto;
    }

    .about .kontener{
        display: block;
        padding: 1rem 7%;
    }

    .about .atas{
        padding: 1rem 7% 2rem 7%;
    }

    .about .kontener .kanan{
        margin: 0 auto;
        width: 100%;
        margin-bottom: 2.5rem;
    }

    .about .pp{
        padding: .3rem 4rem 1.5rem 4rem;
        text-align: justify;
    }

    .about .kontener .kiri{
        margin: 0 auto;
        width: 100%;
        margin-bottom: 2.5rem;
    }

/* favorite */
    .favorite .tx1{
        padding: .5rem 12%;
    }

    .favorite .tx1 i{
        padding: 0;
    }

    .favorite .tx1 h1{
        width: 100%;
        font-size: 4rem;
        padding: 1.5rem 0;
    }

    .favorite .tx1 p{
        text-align: justify;
        width: 100%;
        margin: 0 auto;
    }

    .favorite .kotak{
        padding: 2rem 2.5rem 5rem 2.5rem;
    }

    /* galery */
    .gallery .tx2{
        text-align: justify;
        padding: 2rem 12%;
    }

    .gallery .box{
        display: block;
    }
    
    /* lord */
    .login{
        display: block;
        padding: 5rem 10%;
    }

    .login .tx3{
        text-align: center;
    }

    .login .linkk{
        display: grid;
        grid-template-columns: auto;
        gap: 2rem;
        padding: 2rem 0;
    }

    .login .linkk a{
        margin: 0;
    }

    .bawah{
        display: block;
        text-align: center;
    }

    .bawah ul{
        padding: 1rem 0;
    }
}