:root{
    --blue:#47B5FF;
    --navy:#1363DF;
}

*{
    margin:0; padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
    font-size: 70%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

/* header */
.navigator{
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    top: 0; right: 0; left: 0;
    background: #fff;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 7%;
    z-index: 9999;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

.name{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #444;
}

.name span{
    color:var(--navy);
}

.name:hover{
    scale:1.2;
    color: var(--navy);
}

.nav{
    font-size: 1.3rem;
    font-weight: bold;
}

.nav a{
    color: #333;
    padding: .7rem 1rem;
}

.nav a:hover{
    background-color: rgba(255, 255, 255, .5);
    color: var(--navy);
    padding: .7rem 1rem;
    border-bottom: .3rem solid var(--navy);
}

.nav .drop{
    position: relative;
    display: inline-block;
    transition: .2s;
}

.nav .drop .dropcont{
    position: absolute;
    display: none;
    padding-top: .5rem;
}

.nav .drop:hover .dropcont{
    display: grid;
    grid-template-columns: 12rem;
    grid-template-rows: 3rem 3rem;
    align-items: center;
}

/* main */
main{
    padding: 3rem 7%;
}

.pic{
    padding: 10rem;
    text-align: center;
    background-image: url(./4.png);
    background-size: cover;
    background-attachment: fixed;
}

.pic i{
    font-size: 5rem;
    color: #fff;
    padding-bottom: 2rem;
}

.pic h1{
    font-size: 5rem;
    color: #fff;
    font-weight: bolder;
    cursor: default;
}

.pic h1:hover{
    color: var(--navy);
    scale: 1.2;
}

.fav {
    text-align: center;
    display: block;
    padding: 2rem 0;
}

.fav h1{
    font-size: 5rem;
    font-weight: bolder;
    color: #333;
}

.fav p{
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: #333;
}

.fav .gacil{
    width: 10%;
    height: .5rem;
    background-color: var(--navy);
    margin: 2rem auto;
}

main .garis{
    width: 90%;
    height: .1rem;
    background-color: rgba(0, 0, 0, .3);
    margin: 1rem auto;
}

.musik{
    padding: 3rem 0;
}

.musik h1{
    font-size: 4rem;
    color: #333;
    font-weight: bold;
    padding: 0 0 0 5rem;
}

.musik p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--navy);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 0 0 5rem;
} 

.musik .container{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 3rem 0;
}

.musik .container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 2rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    background-color: #333;
}

.musik .container .box .pf{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.container .box .pf img{
    height: 100%;
    width: 100%;
}

.container .box .pf .audio{
    position: absolute;
    bottom: -7rem;left: 0;right: 0;
    padding-bottom: 1rem;
}

.container .box:hover .pf .audio{
    bottom: 0;
}

.container .box .tulis{
    background-color: #333;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.container .box .tulis h3{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.container .box .tulis p{
    font-size: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
    padding: 0 0 2rem 0;
}

.film{
    padding: 3rem 0;
}

.film h1{
    font-size: 4rem;
    color: #333;
    font-weight: bold;
    padding: 0 0 0 5rem;
}

.film p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--navy);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 0 0 5rem;
}

.film .kontener{
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    padding: 3rem 0;
}

.film .kontener .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border-radius: 2rem;
    border: .1rem solid rgba(0, 0, 0, .1);
    position: relative;
    background-color: #333;
}

.film .kontener .box .sampul{
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
}

.film .kontener .box .sampul img{
    height: 100%;
    width: 100%;
}

.kontener .box .sampul .audio{
    position: absolute;
    bottom: -7rem;left: 0;right: 0;
    padding-bottom: 2rem;
}

.kontener .box .sampul .audio a{
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
    background-color: #444;
    border-radius: 1.2rem;
    padding: .5rem 5%;
}

.kontener .box .sampul .audio a:hover{
    background-color: var(--navy);
}

.kontener .box:hover .sampul .audio{
    bottom: 0;
}

.kontener .box .tulis{
    background-color: #333;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.kontener .box .tulis h3{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.kontener .box .tulis p{
    font-size: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    text-align: center;
    padding: 0 0 2rem 0;
}

.nyusul{
    padding: 3rem 0;
}

.nyusul h1{
    font-size: 4rem;
    color: #333;
    font-weight: bold;
    padding: 0 0 0 5rem;
}

.nyusul .isi{
    padding: 5rem;
    text-align: center;
}

.nyusul .isi p{
    color: #ddd;
    font-size: 2rem;
}

.nyusul p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--navy);
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0 0 0 5rem;
}

/* footer */
.bawah{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 5%;
}

.bawah .name{
    color: #fff;
}

.bawah .name span{
    color: var(--navy);
}

.bawah .name:hover {
    color: var(--navy);
}

.bawah ul a{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    display: block;
}

.bawah ul a:hover{
    color: var(--navy);
}

.bawah .ling a{
    font-size: 3rem;
    color: #fff;
    padding: 1rem;
}

.bawah .ling a:hover{
    color: var(--navy);
}

footer{
    background-color: #041C32;
}

footer hr{
    height: .1rem;
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, .3);
}

.garis{
    size: 1.5rem;
    background-color: rgba(255, 255, 255,.5);
    height: .1rem;
    width: 90%;
    margin: 0 auto;
}

footer .copyrek{
    padding: 2rem;
    text-align: center;
    color: #fff;
    cursor: default;
}